<a href="https://colab.research.google.com/github/mariaromerocol/eulers-project/blob/master/testing_proyecto_euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd

In [ ]:
input = (["av","a","b"], "a")
words = input[0]
word_test = input[1]

In [ ]:
count = 0
for word in words:
    if word == word_test:
        count =+ 1
print('(',count, ',', len(words),')')

( 1 , 3 )

## I - Multiples of 3 and 5
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below the provided parameter value number.

In [39]:
def sum_multiplesOf3and5(number):
    natural_numbers = np.array(list(range(1,number)))

    of_3 = natural_numbers * 3
    of_5 = natural_numbers * 5
    of_3_5 = natural_numbers * 15

    multiples_3and5 = of_3_5[of_3_5 < number]
    size_multiple3and5 = len(multiples_3and5)

    sum_m15 = (15 + multiples_3and5[size_multiple3and5 - 1])*size_multiple3and5 / 2

    multiples_3 = of_3[of_3 < number]
    size_multiple3 = len(multiples_3)

    sum_m3 = (3 + multiples_3[size_multiple3 - 1])*size_multiple3 / 2

    multiples_5 = of_5[of_5 < number]
    size_multiple5 = len(multiples_5)

    sum_m5 = (5 + multiples_5[size_multiple5 - 1])*size_multiple5 / 2

    sum_m_3and5 = sum_m3 + sum_m5 - sum_m15
    return int(sum_m_3and5)

In [40]:
sum_multiplesOf3and5(1000)

233168

## II Even Fibonacci Numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
By considering the terms in the Fibonacci sequence whose values do not exceed **n**, find the sum of the even-valued terms.