<a href="https://colab.research.google.com/github/mariaromerocol/eulers-project/blob/master/testing_proyecto_euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

## Test
To apply for the job of Data Classification Engineer (Semi Senior)

In [ ]:
input = (["av","a","b"], "a")
words = input[0]
word_test = input[1]

In [ ]:
count = 0
for word in words:
    if word == word_test:
        count =+ 1
print('(',count, ',', len(words),')')

( 1 , 3 )

# Euler's Project

link: https://www.freecodecamp.org/learn/project-euler/

# I - Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below the provided parameter value number.

In [ ]:
def sum_multiplesOf3and5(number):
    natural_numbers = np.array(list(range(1,number)))

    of_3 = natural_numbers * 3
    of_5 = natural_numbers * 5
    of_3_5 = natural_numbers * 15

    if number > 15:
        multiples_3and5 = of_3_5[of_3_5 < number]
        size_multiple3and5 = len(multiples_3and5)

        sum_m15 = (15 + multiples_3and5[size_multiple3and5 - 1])*size_multiple3and5 / 2
    else:
        sum_m15 = 0

    multiples_3 = of_3[of_3 < number]
    size_multiple3 = len(multiples_3)

    sum_m3 = (3 + multiples_3[size_multiple3 - 1])*size_multiple3 / 2

    multiples_5 = of_5[of_5 < number]
    size_multiple5 = len(multiples_5)

    sum_m5 = (5 + multiples_5[size_multiple5 - 1])*size_multiple5 / 2

    sum_m_3and5 = sum_m3 + sum_m5 - sum_m15
    return int(sum_m_3and5)

## Tests

In [ ]:
sum_multiplesOf3and5(10)

23

In [ ]:
sum_multiplesOf3and5(49)

543

In [ ]:
sum_multiplesOf3and5(1000)

233168

In [ ]:
sum_multiplesOf3and5(8456)

16687353

In [ ]:
sum_multiplesOf3and5(19564)

89301183

# II - Even Fibonacci Numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
By considering the terms in the Fibonacci sequence whose values do not exceed **n**, find the sum of the even-valued terms.

In [ ]:
def fiboEvenSum(terms):
    n0 = 0
    n1 = 1
    fibonacci_seq = [n0, n1]
    sum_even = 0
    n = 2

    for n in range(1, terms-1):
        sum_conse = fibonacci_seq[n-1] + fibonacci_seq[n]
        if sum_conse > terms:
            break
        fibonacci_seq.append(fibonacci_seq[n-1] + fibonacci_seq[n])


    seq_even = [ n for n in fibonacci_seq if (n % 2) == 0]
    sum_even = sum(seq_even)

    return(sum_even)

## Tests

In [ ]:
fiboEvenSum(10)

10

In [ ]:
fiboEvenSum(8)

10

In [ ]:
fiboEvenSum(34)

44

In [ ]:
fiboEvenSum(60)

44

In [ ]:
fiboEvenSum(1000)

798

In [ ]:
fiboEvenSum(100000)

60696

In [ ]:
fiboEvenSum(4000000)

4613732

# III - Largest prime factor

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the given number?

In [ ]:
def prime_list(number):
    prime_list = []
    for j in range(1, number+1):
        test_true = []
        test_false = []
        for n in range(1, j+1):
            if j % n == 0:
                test_false.append(False)
            else:
                test_true.append(True)
        if (len(test_false) < 3):
            prime_list.append(j)
    return(prime_list)

def largest_prime(number):
    list_20 = prime_list(number)

    mult_false = []
    mult_true = []

    for n in list_20:
        if number % n == 0:
            mult_false.append(False)
            # print(n, 'multiplo', 'false')
            largest = n
    print(largest)

## Tests

In [ ]:
largest_prime(2)

2

In [ ]:
largest_prime(3)

3

In [ ]:
largest_prime(5)

5

In [ ]:
largest_prime(7)

7

In [ ]:
largest_prime(8)

2

In [ ]:
largest_prime(13195)

29

In [ ]:
largest_prime(600851475143)

# IV - Largest palindrome product

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two n-digit numbers.

In [ ]:
def testPalindrome(n, m):
    digit_asc = np.arange(n, m, 1)
    digit_des = digit_asc[::-1]

    palindrome = 0
    for j in digit_asc:
        for i in digit_des:
            prod_num = j*i
            prod_sort = str(prod_num)[::-1]
            if str(prod_num) == prod_sort:
                # print('here', i, j, prod_num)
                if prod_num > palindrome:
                    palindrome = prod_num

    print(palindrome)

def largestPalindrome(digit):
    if (digit == 2):
        testPalindrome(10, 100)
    elif (digit == 3):
        testPalindrome(100, 1000)

## Test

In [ ]:
largestPalindrome(2)

9009

In [ ]:
largestPalindrome(3)

906609

# V - Smallest multiple

2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to n?

60

## Test

# VI -

## Test

# VII -

## Test

# VI -